Package: libx86-1
Version: 0.99-1
Section: libs
Priority: optional
Architecture: i386
Depends: libc6 (>= 2.4-1)
Installed-Size: 56
Maintainer: Matthew Garrett <mjg59@srcf.ucam.org>
Source: libx86
Description: x86 real-mode library
 A library to provide support for making real-mode calls x86 calls. On x86
 hardware, vm86 mode is used. On other platforms, x86 emulation is provided.
