Package: libx86-dev
Version: 0.99-1
Section: libdevel
Priority: optional
Architecture: i386
Depends: libx86-1 (= 0.99-1)
Installed-Size: 52
Maintainer: Matthew Garrett <mjg59@srcf.ucam.org>
Source: libx86
Description: x86 real-mode library - development files
 A library to provide support for making real-mode calls x86 calls. On x86
 hardware, vm86 mode is used. On other platforms, x86 emulation is provided.
 .
 This package contains the development files for libx86.
